<% @templates.each do |template| %>
    <%= template['name'] %>
    <%= template['versions'].first['subject'] %>
    <button data-temp-id="<%= template['id'] %>" class="get-template" > preview</button>
    <br>
<% end %>

</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body email-template">
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>


<h1>Get My Awesome News Letter</h1>
<p>Give me your email and keep up to date on my cat's thoughts.</p>
<%= form_tag('/email/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
    <!--<%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>-->
    <!--<%= text_field(:email, :first_name, {id: "firstName", placeholder: "Primeiro nome:"}) %>-->
    <!--<%= text_field(:email, :last_name, {id: "lastName", placeholder: "Ultimo nome:"}) %>-->
    <%= submit_tag("Sign me up!") %>
<% end %>

<%= flash[:info]%>