

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4" style="text-align:center">Lista de Templates</th>
    </tr>
  </thead>
  <tbody>
  <% @templates.each do |template| %>
    <tr>
      <td><%= template['name'] %></td>
      <td><%= template['versions'].first['subject'] %></td>
      <td><button data-temp-id="<%= template['id'] %>" class="get-template" > Preview</button></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times</span>
      <h2>Preview do Email</h2>
    </div>
    <div class="modal-body email-template"></div>
    <div class="modal-footer"></div>
  </div>
</div>

<%= simple_form_for(@campaign, html: { class: 'form-vertical' }) do |f| %>

          <div>
            <%= f.input :plain_email_content, label: "Nome:" %>
            <%= f.input :email_content, label: "R.G:" %>
            <%= f.input :html_content, label: "R.G:" %>
            <%= f.input :subject, label: "R.G:" %>
            <%= f.input :title, label: "R.G:" %>
                     
          </div>
          <%= f.button :submit, "Cadastrar responsável",  class: "btn btn-success" %>
      <% end %>

<%= form_tag('/email/create_campaign', method: "post", id: "create_campaign", remote: "true") do %>
    <%= text_field_tag '@campaign[:plain_email_text]'%><br>
    <%= text_field_tag '@campaign[:email_content]'%><br>
    <%= text_field_tag '@campaign[:sender_id]'%><br>
    <%= text_field_tag '@campaign[:subject]'%><br>
    <%= text_field_tag '@campaign[:title]'%><br>
    <%= text_field_tag '@campaign[:segment_ids]'%><br>
    <%= text_field_tag '@campaign[:categories]'%><br>
    <%= text_field_tag '@campaign[:lists]'%><br>

    
    <%= submit_tag("Sign me up!") %>
<% end %>


<!-- <h1>Get My Awesome News Letter</h1>
 -->
 <!-- <p>Give me your email and keep up to date on my cat's thoughts.</p> -->

    <!--<%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>-->
    <!--<%= text_field(:email, :first_name, {id: "firstName", placeholder: "Primeiro nome:"}) %>-->
    <!--<%= text_field(:email, :last_name, {id: "lastName", placeholder: "Ultimo nome:"}) %>-->
    
<%= flash[:info]%>