<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(@responsible, html: { class: 'form-vertical' }) do |f| %>

          <div>
            <%= f.input :name, label: "Nome:" %>
            <%= f.input :rg, label: "R.G:" %>
            <%= f.input :cpf, label: "C.P.F:"%>
            <%= f.input :schooling, label: "Escolaridade:" %>
          </div>

          <div>
            <%= f.simple_fields_for :user do |fu| %>
                <%= fu.input :email, label: "Email de login:"  %>
                <%= fu.input :password, label: "Senha:" %>
            <% end %>
          </div>

          <%= f.button :submit, "Cadastrar responsável",  class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>