<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(@employee, html: { class: 'form-vertical' }) do |f| %>

          <div>
            <%= f.input :name, label: "Nome:" %>
            <%= f.input :age, label: "Idade:" %>
            <%= f.input :schooling, label: "Escolaridade:" %>
            <%= f.input :job, label: "Função:", collection: EmployeesHelper::JOBS %>
          </div>

          <div>
            <%= f.simple_fields_for :user do |fu| %>
                <%= fu.input :email, label: "Email de login:"  %>
                <%= fu.input :password, label: "Senha:" %>
                <%= fu.simple_fields_for :address do |af| %>
                  <%= render :partial => "pages/addressform", :object => :address %>
                <% end %>
            <% end %>
          </div>

          <%= f.button :submit, "Cadastrar funcionário",  class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>