<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(@student, html: { class: 'form-vertical' }) do |f| %>

        <div>
          <%= f.input :school_year, label: "Ano letivo:", collection: (Time.now.year - 3)..(Time.now.year + 3), selected: Time.now.year %>
          <%= f.input :start_date, label:"Ano letivo da primeira matricula:" %>
          <%= f.input :name, label: "Nome:" %>
          <%= f.input :birth_date, label: "Data de nascimento:" %>
          <%= f.input :place_of_birth, label: "Cidade onde nasceu:"%>
          <%= f.input :state, label: "Estados:", collection: StudentsHelper::ESTADOS_BRASILEIROS, selected: "PR" %>
        </div>

        <div>
          <%= f.simple_fields_for :medic_info do |fm| %>
            <%= fm.association :diseases, label:"Assinale as doenças que a criança já teve:", collection: Disease.all, as: :check_boxes %>
            <%= fm.input :surgery, label: "Submeteu-se a intervenções cirúrgicas?"  %>
            <%= fm.input :treatment, label: "Faz tratamento de saúde? Qual?"  %>
            <%= fm.input :allergic, label: "É alérgico há algum medicamento? Qual?"  %>
            <%= fm.input :intolerant , label: "Tem restrição/intolerância alimentar? Qual?" %>
          <% end %>
        </div>

        <div>
          <%= f.association :behaviors, label: "Defina a criança quanto a seu temperamento:", collection: Behavior.all, as: :check_boxes, label_method: :description %>
          <%= f.input :another_behavior, label: "Outros:" %>
        </div>

        <!--<h1>Ficha do Responsável</h1>-->

          <!--<div>-->
            <!--<%= @student.responsibles.each do |fr| %>-->
                <!--<%= fr.input :name, label: "Nome do responsável:"  %>-->
                <!--<%= fr.input :rg, label: "R.G:"  %>-->
                <!--<%= fr.input :cpf, label: "C.P.F:"  %>-->
                <!--<%= fr.input :schooling , label: "Escolaridade:" %>-->
            <!--<% end %>-->
          <!--</div>-->

        <%= f.button :submit, "Matricular aluno",  class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>