<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for(@student, html: { class: 'form-vertical' }) do |f| %>
        <%= f.input :name %>
        <%= f.input :place_of_birth %>
        <%= f.simple_fields_for :medic_info do |fm| %>
          <%= fm.association :diseases, collection: Disease.all %>
          <%= fm.input :surgery %>
          <%= fm.input :intolerant , placeholder: "Não" %>
        <% end %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>