<p id="notice"><%= notice %></p>

<h1>Lista de alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de nascimento</th>
      <th>Cidade de nascimento</th>
      <th>Ano letivo</th>
      <th>Data de início</th>
      <th>Outro comportamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.birth_date %></td>
        <td><%= student.place_of_birth %></td>
        <td><%= student.school_year %></td>
        <td><%= student.start_date %></td>
        <td><%= student.another_behavior %></td>
        <td>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-student-id="<%= student.id %>">
          Ficha Rápida
        </button>
        </td>
        <td><%= link_to 'Exibir', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Desativar', student, method: :delete, data: { confirm: 'Deseja desativar este aluno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo aluno', new_student_path, class: "btn btn-primary btn-sm" %>