<!-- <form method="get" action=".">
        <label>Cep:
        <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" /></label><br />
        <label>Rua:
        <input name="rua" type="text" id="rua" size="60" /></label><br />
        <label>Bairro:
        <input name="bairro" type="text" id="bairro" size="40" /></label><br />
        <label>Cidade:
        <input name="cidade" type="text" id="cidade" size="40" /></label><br />
        <label>Estado:
        <input name="uf" type="text" id="uf" size="2" /></label><br />
        <label>IBGE:
        <input name="ibge" type="text" id="ibge" size="8" /></label><br />
      </form>
      https://viacep.com.br/exemplo/jquery/
 -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(:address, html: { class: 'form-vertical' }) do |a| %>
        <%= a.input :zipcode, label: "CEP:", wrapper_html: { id: 'cep' } %>
        <%= a.input :street, label: "Rua:", wrapper_html: { id: 'rua' } %>
        <%= a.input :complement, label: "Complemento:" %>
        <%= a.input :neighborhood, label: "Bairro:", wrapper_html: { id: 'bairro' } %>
        <%= a.input :city, label: "Cidade:", wrapper_html: { id: 'cidade' } %>
        <%= a.input :state, label: "Estado:", wrapper_html: { id: 'uf' } %>
      <% end %>
    </div>
  </div>
</div>